@model PesquisaOperacional.Models.Problema

@{
    /**/

    ViewBag.Title = "Home Page";

}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

@using (Html.BeginForm("ProgLinear", "Calculadora", FormMethod.Post))
{

    for (int i = 0; i < Model.Restricoes.Count; i++)
    {
        <h3>restrição 1</h3>

        @Html.TextBoxFor(model => model.Restricoes[i].VariavelDeDecisao1);
        @Html.TextBoxFor(model => model.Restricoes[i].VariavelDeDecisao2);
        @Html.TextBoxFor(model => model.Restricoes[i].Sinal);
        @Html.TextBoxFor(model => model.Restricoes[i].ValorRestricao);
    }

    <button onclick="adicionarRestricao">Adicionar restrição</button>

    <h3>função objetivo</h3>
    @Html.TextBoxFor(model => model.Funcao.Coeficiente1);
    @Html.TextBoxFor(model => model.Funcao.Coeficiente2);
    @Html.TextBoxFor(model => model.Funcao.Tipo);


    <button type="submit">CALCULA</button>
}


<div class="row">
</div>



@section Scripts{
    <script>
        function adicionarRestricao() {

        }




    </script>


}